#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [17]:
import pandas as pd

In [19]:
ser = pd.Series([4, 8, 15, 16, 23, 42])
 
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#### variable print it.

In [21]:
sum=([3,2,54,6,45,7,88,78,96,9])

In [22]:
len(sum)

10

In [27]:
df= pd.Series(sum)
print(df)

0     3
1     2
2    54
3     6
4    45
5     7
6    88
7    78
8    96
9     9
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:
####   Name        Age      Gender
####   Alice        25       Female
####   Bob          30       Male
####   Claire       27       Female

#### Then, print the DataFrame.

In [44]:
lst={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

df=pd.DataFrame(lst)

In [45]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [46]:
# DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

In [47]:
# How is a pandas DataFrame different to a pandas series :-
# A pandas Series has no column labels, as it is just a single column of a DataFrame .

In [48]:
# example

lst={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

In [53]:
df=pd.DataFrame(lst)
print(df)
type(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

pandas.core.frame.DataFrame

In [54]:
sd=pd.Series(lst)
print(sd)
type(sd)

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

pandas.core.series.Series

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#### you give an example of when you might use one of these functions?

In [59]:
# Some common functions you can use to manipulate data in a Pandas DataFrame:-
# 1. read_csv()
# 2. head()
# 3. describe()
# 4. columns
# 5. DataFrame
# 6. Categorical
# 7. Index

In [60]:
lst={"Name":['Alice','Bob','Claire'],"Age":[25,30,27],"Gender":['Female','Male','Female']}

df=pd.DataFrame(lst)

In [61]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [62]:
# DataFrames are both value and size-mutable.

In [63]:
# Series Objects are value-mutable but size-immutable objects.

In [64]:
# In Panel Data and size are mutable.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [75]:
student = ['Ansh', 'Arun',
          'Arpit', 'Shub']
total_marks = [210, 211, 114, 178]

In [76]:
auth_series = pd.Series(student)
article_series = pd.Series(total_marks)

In [80]:
frame = {'student': auth_series,
         'total_mark': article_series}

In [81]:
result = pd.DataFrame(frame)

In [82]:
print(result)

  student  total_mark
0    Ansh         210
1    Arun         211
2   Arpit         114
3    Shub         178